@use "fonts.scss" as variables;

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, p {
    margin: 0;
}

h2 {
    font-family: map-get(variables.$fuentes, roboto);
    font-weight: bold;
}

body {
    background-color: #333;
}

.header {

    display: flex;
    justify-content: space-between;

    &__h1 {
        font: 56px map-get(variables.$fuentes, coiny);
    }

    &__a {
        font: 400 32px map-get(variables.$fuentes, roboto);
    }
}

.intro {
    &__h2{
        font-size: 64px;

        strong {
            font: 700 117.3px map-get(variables.$fuentes, coiny);
        }
    }

    &__h3 {
    
        font: 700 34.6px map-get(variables.$fuentes, roboto);
        background-color: #FCEE21;

        &--sub {
            font-size: 26.6px;
            font-weight: 400;
        }
    }

    &__p {
      
        font: 400 28px map-get(variables.$fuentes, roboto);

        strong {
            font-weight: bold;
        }

        &--sub {
            font-size: 32px;
        }
    }
}

.servicios {
    &__h2{
        font-size: 54.6px;
    }

    &__item {
        font: 400 24px map-get(variables.$fuentes, roboto);
    }
}